
<div class="row content">
	{% set on_sale = product.onSale %}

	<div class="col-md-6">
		<ul class="col-md-12 thumblist">
		{% for image in product.images %}
			<li>
				<img onclick='changeImage("{{ image.thumbnail('auto', 'auto') }}")' src="{{ image.thumbnail('auto', 'auto') }}" alt="{{ product.name }}">
			</li>
		{% endfor %}
		</ul>

		
		<div class="col-md-12" id="main-img">
			<img id="big-thumb" src="{{ product.image.thumbnail('auto','auto') }}" alt="{{ product.name }}">
		</div>
	</div>
	
	<div id="product-detail" class="col-md-6">

		<div class="col-md-12">
			<h2>{{ product.name }}</h2>
			{% if on_sale %}
				<small class="previous-price">{{ product.fullPrice|currency }}</small>
			{% endif %} 
			<h3>{{ product.price|currency }}</h3>

	  	<p>{{product.description|unescape}}</p>

			{{ partial('shop-product-attributes') }}

			{% if product.enabled %}
	      
	      {{ partial('shop-product-options') }}
	      {{ partial('shop-product-extras') }}
	      
	    {% if not product.isOutOfStock() or product.allow_preorder %}
	      <input type="hidden" name="productId" value="{{ product.id }}"/>
		      <div class="add-cart-holder form-group">
		        <div class="quantity-selector">
		        	<label class="title">Quantity</label>
		          <input class="form-control quantity" type="text" value="{{ quantity|default("1") }}" name="quantity"/>
		        </div>
		      </div>
		      	{{ flash() }}
		      	<a class="btn btn-default btn-add-cart" data-ajax-update="#normal-carts=shop-minicart-totals, #product-page=shop-product, #mini-cart=shop-minicart" data-ajax-handler="shop:onAddToCart">Add to Cart </a>
			</div>
		      
		    {% else %}
		      <div class="not-available">
		        <h5>This product is temporarily unavailable</h5>
		      </div>
		    {% endif %}
		    
		  {% else %}
		    <div class="not-available">
		      <h5>This product is not available</h5>
		    </div>
	  {% endif %}
		</div>
</div>


<script type="text/javascript">
	function changeImage(a) {
	  document.getElementById("big-thumb").src=a;
	};
</script>







