---
description: 'index template'
---
<!DOCTYPE html> 
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ --> 
<!--[if IE 8]> <html lang="en"> <![endif]--> 
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]--> 
<head>
    {{ partial('layout-head') }}
</head> 
<body>
    <div id="border"></div>
    <div id="container">
      {{ partial('layout-header')}}
      {{ page() }} 
      {{ partial('layout-footer') }}
    </div>
    {{ partial('layout-foot') }}
</body>
</html>